@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
:root {
  --pink: #b81678;
  --red: #e00044;
  --blue: #0169dd;
  --birusa: #43999c;
  --yellow: #f9c407;
  --black: #021627;
  --green: #41ebd4;
  --grey: #e5e5e5; }

html, body {
  min-height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff; }

.noscroll {
  overflow: hidden; }

img {
  max-width: 100%; }

a {
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s; }

.wrapper {
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto; }

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--wrap {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.btn {
  display: inline-block;
  font-size: 1.125em;
  border-radius: 35px;
  padding: 1.388em 2.222em; }
  .btn--pink {
    background: var(--pink);
    -webkit-box-shadow: 0 26px 51px rgba(184, 22, 120, 0.75);
            box-shadow: 0 26px 51px rgba(184, 22, 120, 0.75);
    color: #fff; }
    .btn--pink:hover {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-box-shadow: 0 20px 31px rgba(184, 22, 120, 0.85);
              box-shadow: 0 20px 31px rgba(184, 22, 120, 0.85); }
    .btn--pink:active {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-box-shadow: 0 10px 31px rgba(184, 22, 120, 0.85);
              box-shadow: 0 10px 31px rgba(184, 22, 120, 0.85); }

.pink {
  color: var(--pink); }

.yellow {
  color: var(--yellow); }

.blue {
  color: var(--blue); }

.black {
  color: var(--black); }

.red {
  color: var(--red); }

.title h2 {
  font-size: 4.375rem;
  font-weight: 700;
  padding: 2em 0 2em .75em;
  position: relative; }
  .title h2::before {
    content: '';
    width: 5.6142em;
    height: 4.6571em;
    background: transparent url("../img/green-shape.png") left top no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .title h2 .title__text {
    position: relative;
    z-index: 2; }
  .title h2 .white {
    color: #fff;
    padding-right: .2em; }
.title--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .title--right h2::before {
    background-image: url("../img/red-shape_title.png"); }

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-weight: 500;
  font-size: 13px; }

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-weight: 500;
  font-size: 13px; }

/* Firefox 19+ */
:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-weight: 500;
  font-size: 13px; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-weight: 500;
  font-size: 13px; }

/* хром, сафари */
.element::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.element {
  -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element {
  overflow: -moz-scrollbars-none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  width: 100%;
  max-width: 1640px;
  padding: 40px 20px 60px;
  margin: 0 auto; }

.logo img {
  width: 7.5em; }

.header-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header__phones {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2em; }
  .header__phones a {
    display: inline-block;
    text-decoration: underline;
    font-size: .9375em;
    letter-spacing: 0.38px; }
    .header__phones a:not(:first-child) {
      margin-left: 3em; }
    .header__phones a:hover {
      color: var(--pink);
      text-decoration: none; }

.menu {
  margin-right: 3em; }
  .menu li {
    font-size: .9375em;
    letter-spacing: 0.75px; }
    .menu li a {
      display: block;
      padding: 1em 3em;
      border-radius: 30px; }
      .menu li a:hover {
        background-color: var(--pink);
        color: #fff;
        -webkit-box-shadow: 0 20px 31px rgba(184, 22, 120, 0.55);
                box-shadow: 0 20px 31px rgba(184, 22, 120, 0.55); }
      .menu li a:active {
        -webkit-box-shadow: 0 10px 31px rgba(184, 22, 120, 0.75);
                box-shadow: 0 10px 31px rgba(184, 22, 120, 0.75); }

.mobile-btn {
  width: 25px;
  display: none; }
  .mobile-btn span {
    display: block;
    height: 2px;
    background-color: var(--pink);
    border-radius: 5px; }
    .mobile-btn span:not(:last-child) {
      margin-bottom: 5px; }
    .mobile-btn span:nth-child(2) {
      width: 75%;
      background-color: var(--yellow); }

.close {
  width: 30px;
  height: 30px;
  background: url("../img/icons/close.png") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2; }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 40px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  visibility: hidden;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  z-index: 10; }
  .mobile-menu.active {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

/*top-screen*/
.top-screen {
  position: relative;
  padding: 9.375em 0 12.5em; }

.top-screen-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 81.25em; }

.top-screen__title h1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: .85;
  margin-bottom: .3em; }
  .top-screen__title h1 span {
    display: block; }
    .top-screen__title h1 span:first-letter {
      color: var(--pink); }
.top-screen__title p {
  font-size: 1.25em;
  line-height: 1.65;
  max-width: 40em; }

/*service*/
.service {
  padding-top: 8.75em;
  position: relative; }
  .service .title h2::before {
    background-image: url("../img/green-shape_opacity.png"); }

.service__item {
  cursor: pointer; }

.service-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60em;
  z-index: -1; }

.service-list {
  margin: 0 -5em; }
  .service-list li {
    width: 33.3333%;
    padding: 0 5em;
    margin-bottom: 2em; }

.service__img {
  height: 25em;
  margin-bottom: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .service__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.service__descr {
  text-align: center; }
  .service__descr h3 {
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: .5em; }
  .service__descr p {
    line-height: 1.3; }

/*features*/
.features {
  margin-top: -5em;
  padding: 7.5em 0 12.5em;
  position: relative; }
  .features::before, .features::after {
    content: '';
    width: 60%;
    height: 30%;
    background: transparent url("../img/dots-right.png") left top no-repeat;
    background-size: contain;
    position: absolute; }
  .features::before {
    left: 0;
    top: 12em; }
  .features::after {
    right: 0;
    bottom: 3em;
    background-position: 100% 0; }
  .features .container {
    position: relative;
    z-index: 2; }
  .features .mark {
    position: absolute;
    left: 3em;
    top: 8em;
    width: 25em; }

.text-center {
  text-align: center; }

.btn-container {
  margin-top: 6.25em; }

.features-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 75em;
  max-width: 45%; }

.features__list {
  margin: 0 -1em; }
  .features__list li {
    width: 25%;
    padding: 0 1em;
    margin-bottom: 6em; }

.features__item {
  position: relative;
  font-size: 1rem; }
  .features__item::before {
    content: '';
    width: 20.375em;
    height: 24.5625em;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    top: 12em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .features__item--yellow::before {
    background-image: url("../img/yellow-shape.png"); }
  .features__item--yellow .features__content h3 {
    color: var(--yellow); }
  .features__item--birusa::before {
    background-image: url("../img/birusa-shape.png"); }
  .features__item--birusa .features__content h3 {
    color: var(--birusa); }
  .features__item--black::before {
    background-image: url("../img/black-shape.png"); }
  .features__item--black .features__content h3 {
    color: var(--black); }
  .features__item--red::before {
    background-image: url("../img/red-shape.png"); }
  .features__item--red .features__content h3 {
    color: var(--pink); }

.features__img {
  height: 18.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
  position: relative;
  z-index: 2; }

.features__content {
  text-align: center;
  position: relative;
  z-index: 2; }
  .features__content h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1em; }
  .features__content p {
    font-size: 1rem;
    line-height: 1.2;
    width: 80%;
    margin: 0 auto; }

/*photos*/
.photos {
  margin-bottom: 3em; }

.photos__title {
  font-size: 4.375rem;
  font-weight: 700;
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: .5em; }

.photos__row,
.photos__row--reverse {
  margin-bottom: 2.5em; }

.photos__item {
  padding: 0 1.25em;
  width: 28.75em;
  height: 26.25em; }
  .photos__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.slick-slide {
  outline: none; }

/*reviews*/
.reviews {
  background: #fff url("../img/review_bg.jpg") 100% 100% no-repeat;
  background-size: contain;
  padding-top: 6em;
  padding-bottom: 9.375em; }
  .reviews .title {
    margin-bottom: 3em; }
  .reviews .btn-container {
    margin-top: 2em;
    padding-left: 7em; }

.slick-dotted.slick-slider {
  margin-bottom: 60px; }

.reviews-slider {
  max-width: 1450px;
  margin: 0 auto 60px; }
  .reviews-slider .slick-dots {
    bottom: -10px; }
  .reviews-slider .slick-arrow {
    color: #000;
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .reviews-slider .slick-arrow:hover {
      color: #fff;
      background-color: #000; }
  .reviews-slider .prev-arrow {
    left: 0;
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%); }
  .reviews-slider .next-arrow {
    right: 0;
    -webkit-transform: translate(200%, -50%);
            transform: translate(200%, -50%); }

.reviews-slider__avatar {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 21.875em;
  height: 21.875em;
  border-radius: 50%;
  line-height: 0;
  padding: 1.25em;
  background-color: var(--green);
  position: relative; }
  .reviews-slider__avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.reviews-slider__text {
  position: relative;
  font-size: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 6em;
  padding-top: 1.5em;
  line-height: 1.6; }
  .reviews-slider__text::before {
    content: '';
    width: 5em;
    height: 5em;
    background: transparent url("../img/icons/quote.svg") left top no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0; }
  .reviews-slider__text p {
    margin-bottom: 2.5em; }

.author-name {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 2em;
  padding-left: 6.5em; }

.reviews-slider__descr {
  position: relative; }
  .reviews-slider__descr .social {
    padding-left: 6.4em;
    position: relative; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social li {
    padding: 0 .8em; }
    .social li img {
      -webkit-transition: all .3s;
      transition: all .3s; }
    .social li a:hover img {
      opacity: .5; }

.slick-dots li,
.slick-dots li button {
  width: 10px;
  height: 2px;
  padding: 0; }

.slick-dots li {
  background-color: #c2bfbf; }
  .slick-dots li.slick-active {
    background-color: #fe0123; }

.slick-dots li button:before {
  display: none; }

span.input {
  padding-top: 3px;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.input__field {
  font-size: 15px;
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #000;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #000;
  font-weight: 500;
  font-size: 13px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .input__label:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -11px; }

.input__label-content {
  position: relative;
  display: block;
  padding: 1.1em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }

.icon {
  color: #000;
  font-size: 150%; }

.input__field--nariko {
  width: 100%;
  background: transparent;
  opacity: 0;
  padding: 0.35em;
  z-index: 100;
  color: #000000; }

.input__label--nariko {
  width: 100%;
  bottom: 9px;
  position: absolute;
  pointer-events: none;
  text-align: left;
  color: #000;
  padding: 0 0.5em; }

.input__label--nariko::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #ffffff;
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.input__label-content--nariko {
  padding: 0.5em 0;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s, color 0.4s;
  -webkit-transition: color 0.4s, -webkit-transform 0.4s;
  transition: color 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, color 0.4s;
  transition: transform 0.4s, color 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.input__field--nariko:focus,
.input--filled .input__field--nariko {
  cursor: text;
  opacity: 1;
  -webkit-transition: opacity 0s 0.4s;
  transition: opacity 0s 0.4s; }

.input__field--nariko:focus + .input__label--nariko::before,
.input--filled .input__label--nariko::before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transform: translate3d(0, -1.3em, 0);
  transform: translate3d(0, -1.3em, 0); }

.input__field--nariko:focus + .input__label--nariko::before,
.input--filled .input__label--nariko::before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transform: translate3d(0, -1.3em, 0);
  transform: translate3d(0, -1.3em, 0); }

.input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
.input--filled + label .input__label-content--nariko {
  -webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.81, 0.81, 1);
  transform: translate3d(0, -1.5em, 0) scale3d(0.81, 0.81, 1); }

.input--filled {
  opacity: 1 !important; }

.input--filled + .input__label:after {
  background-color: #000; }

.input__field--nariko:focus + .input__label--nariko:after {
  background-color: #000; }

/*form*/
.form {
  padding: 8.75em 0;
  background-color: var(--green);
  position: relative;
  z-index: 2; }
  .form .container {
    position: relative;
    z-index: 2; }
  .form .input-wrapper {
    margin-bottom: 1.25em; }
  .form input.btn {
    border: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    max-width: 300px;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all .3s;
    transition: all .3s; }

.form-img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .6;
  height: 43em; }

.form__left,
.form__right {
  width: 45%; }

.form__left__title {
  font-size: 4.375em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: .3em; }
  .form__left__title span {
    color: #fff; }

.form__left__descr {
  font-size: 1.25rem;
  line-height: 1.65; }

.textarea {
  display: block;
  width: 100%;
  height: 90px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  resize: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
  padding-top: 10px; }
  .textarea:focus {
    border-color: #000; }

.submit-container {
  text-align: center;
  margin-top: 3em; }

.form__right {
  position: relative; }
  .form__right .form-mark-img {
    display: block;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 20em;
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%); }

/*clients*/
.clients {
  padding: 7.5em 0;
  position: relative; }
  .clients .container {
    position: relative;
    z-index: 2; }

.client-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 17em; }

.clients__title {
  font-size: 4.375em;
  color: #e5e5e5;
  font-weight: 700;
  margin-bottom: .5em; }

.clients__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2.5em; }
  .clients__list li {
    width: 16.666%;
    padding: 0 2.5em;
    margin-bottom: 2.5em; }
    .clients__list li img {
      max-width: 100%; }

/*popup*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
  display: none; }

.popup-close {
  width: 2em;
  height: 2em;
  background: transparent url("../img/icons/close.svg") left top no-repeat;
  background-size: contain;
  position: absolute;
  top: 3em;
  left: 70%; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: transparent url("../img/popup-bg.png") center no-repeat;
  background-size: contain;
  width: 66.25em;
  height: 46.875em;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .popup.active {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1; }

.popup__content {
  width: 60%;
  margin: 0 auto; }

.popup__top {
  margin-bottom: 2em; }

.popup-img {
  max-height: 20em; }

.popup__top__title {
  padding-left: 4.375em; }

.popup__top__title__name {
  color: var(--yellow);
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: .6em; }

.popup__top__title__descr {
  font-size: 1rem;
  max-width: 16.75em;
  color: var(--yellow);
  line-height: 1.4; }

.popup__text {
  font-size: 1rem;
  line-height: 1.4;
  height: 14em;
  overflow: hidden; }

.popup__btn {
  text-align: right;
  padding-right: 3em; }

/*Footer*/
.footer {
  background-color: #fafafa;
  padding: 6.25em 0; }

.footer__logo {
  width: 20%; }

.footer__content {
  width: 70%; }

.copyright {
  color: #5d5d5d;
  font-size: 12px;
  margin-top: 1.5em;
  line-height: 1.3; }

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__row:not(:last-child) {
    margin-bottom: 4em; }

.footer__row__left {
  width: 60%; }

.footer__row__right {
  width: 30%; }

.footer_title {
  font-size: 1.6875em;
  font-weight: 500;
  margin-bottom: .7em; }

.footer__subtitle {
  font-size: 1rem;
  line-height: 1.3; }

.callback {
  display: inline-block;
  font-size: 1.125rem;
  color: #000;
  padding: 1.55em 1.77em 1.55em 3em;
  background-color: var(--green);
  border-radius: 30px;
  position: relative;
  -webkit-box-shadow: 0 16px 31px rgba(53, 197, 178, 0.55);
          box-shadow: 0 16px 31px rgba(53, 197, 178, 0.55); }
  .callback::before {
    content: '';
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #fff url("../img/oksana-avatar.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .callback:hover {
    -webkit-box-shadow: 0 10px 10px rgba(53, 197, 178, 0.75);
            box-shadow: 0 10px 10px rgba(53, 197, 178, 0.75); }

.address {
  line-height: 1.5;
  font-weight: 500; }
  .address span {
    display: block;
    color: #8b8b8b; }

.footer__phone {
  width: 45%;
  line-height: 1.6; }
  .footer__phone a {
    display: block;
    font-size: 1.0375em;
    text-decoration: underline; }
    .footer__phone a:hover {
      text-decoration: none;
      color: var(--green); }

/*media*/
@media (max-width: 1800px) {
  .reviews-slider .prev-arrow {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

  .reviews-slider .next-arrow {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

  .reviews-slider .slick-arrow {
    width: 5.5em;
    height: 5.5em; }
    .reviews-slider .slick-arrow svg {
      width: 50%; }

  .reviews-slider__avatar {
    width: 18em;
    height: 18em; }

  .client-bg {
    height: 10em; } }
@media (max-width: 1500px) {
  html {
    font-size: .9vw; }

  .top-screen-img {
    height: 52em; }

  .service-img {
    height: 45em; } }
/*1500*/
@media (max-width: 1366px) {
  html {
    font-size: 1.1vw; }

  .menu li {
    font-size: 1em; }

  .features__content p {
    max-width: 70%; }

  .features__img {
    height: 14em; }
    .features__img img {
      max-height: 100%; }

  .footer__content {
    width: 78%; } }
/*1366*/
@media (max-width: 990px) {
  .features__content p {
    font-size: 1.1rem; }

  .btn-container .btn {
    font-size: 14px; }

  .reviews-slider .slick-arrow {
    top: 100%; }

  .reviews-slider__text {
    font-size: 1.6rem;
    padding-left: 5em; }

  .reviews-slider__text::before {
    width: 4em;
    height: 4em; }

  .author-name {
    font-size: 15px;
    padding-left: 4.5em; }

  .form__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .form__left, .form__right {
    width: 100%; }

  .form__left {
    margin-bottom: 40px; }

  .form input.btn {
    font-size: 16px; }

  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .clients__list li {
    width: 16.666%; }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .footer__logo {
    width: 250px;
    margin-bottom: 30px;
    text-align: center; }

  .footer__content {
    width: 100%; }

  .footer__subtitle {
    font-size: 12px; }

  .address {
    font-size: 12px; } }
/*990*/
@media (max-width: 768px) {
  html {
    font-size: 1.3vw; }

  .desctop {
    display: none !important; }

  .btn {
    font-size: 15px;
    padding: 1em 2em; }

  .header__phones a {
    font-size: 14px; }

  .header {
    padding: 20px; }

  .top-screen-img {
    height: 39em; }

  .top-screen__title p {
    font-size: 1.7em; }

  .service__descr p {
    font-size: 1.3rem; }

  .features__list li {
    width: 50%; }

  .features__item {
    max-width: 250px;
    margin: 0 auto; }
    .features__item::before {
      height: 100%;
      width: 100%;
      top: 10em;
      background-position: 55% 0; }

  .features__content h3 {
    font-size: 1.6rem; }

  .features__content p {
    width: 80%;
    font-size: 1.2rem; }

  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .clients__list li {
    width: 20%; }

  .footer__phone {
    font-size: 12px; }

  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .footer__phone {
    margin-bottom: 15px;
    width: 100%; }

  .form .input-wrapper {
    margin-bottom: 30px; }

  .popup {
    background: #fff;
    width: 90%;
    max-width: 550px;
    border-radius: 30px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto; }

  .popup__content {
    width: 90%;
    padding: 20px 0; }

  .popup-close {
    left: auto;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px; }

  .popup__top__title__name {
    font-size: 18px; }

  .popup__top__title__descr {
    font-size: 15px; }

  .popup__text {
    font-size: 13px;
    margin-bottom: 30px; } }
/*768*/
@media (max-width: 568px) {
  .features__list li {
    width: 100%; }

  .features__item {
    max-width: 350px; }
    .features__item::before {
      display: none; }

  .features__content h3 {
    font-size: 20px; }

  .features__content p {
    font-size: 16px;
    max-width: none;
    width: 100%; }

  .features__img {
    height: 150px; }

  .features .mark,
  .features::before, .features::after {
    display: none; }

  .features {
    margin-top: 0;
    padding: 50px 0; }

  .reviews-slider__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 20px; }

  .reviews-slider__text {
    font-size: 14px;
    padding-left: 0; }
    .reviews-slider__text::before {
      display: none; }

  .author-name {
    padding-left: 0;
    text-align: center; }

  .reviews-slider .slick-dots {
    bottom: -30px; }

  .reviews-slider__descr .social {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .reviews .btn-container {
    padding-left: 0;
    text-align: center; }

  .form__left__descr {
    font-size: 2rem; }

  .form__left__title {
    font-size: 6rem; }

  .submit-container {
    margin-top: 40px; }

  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .clients__list li {
    width: 25%; }

  .clients__title {
    font-size: 6rem; }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer__row__left,
  .footer__row__right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }

  .callback {
    font-size: 14px; }

  .footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
/*568*/
@media (max-width: 480px) {
  .header-nav .btn {
    font-size: 13px; }
    .header-nav .btn span {
      display: none; }

  .logo img {
    width: 50px; }

  .mobile-btn {
    display: block;
    margin-right: 30px; }

  .mobile-menu {
    display: block; }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
    margin-bottom: 40px; }
    .menu li {
      font-size: 16px;
      padding: 0;
      width: 100%; }
      .menu li a {
        display: block;
        border-radius: 0;
        padding: 1em 2em; }
        .menu li a:active {
          background-color: var(--pink);
          color: #fff; }

  .header__phones {
    padding: 0 32px; }
    .header__phones a {
      display: block;
      font-size: 24px;
      margin-left: 0 !important;
      margin-bottom: 15px;
      text-decoration: none; }

  .top-screen__title p {
    font-size: 2em; }
    .top-screen__title p br {
      display: none; }

  .title h2 {
    font-size: 6.5rem; }

  .service-list li {
    width: 50%; }

  .service__img {
    margin-bottom: 15px; }

  .service__descr h3 {
    font-size: 2.7rem; }
  .service__descr p {
    font-size: 1.8rem; } }
/*480*/
@media (max-width: 360px) {
  .top-screen__title p {
    font-size: 2.4em; }

  .service-list li {
    width: 100%; }

  .service__img {
    height: 40em; }

  .service__descr h3 {
    font-size: 4rem; }
  .service__descr p {
    font-size: 3rem; }

  .popup__top__title__descr {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */