@font-face {
	font-family: "PTSans";
	src: url("../font/PTSansRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "PTSans";
	src: url("../font/PTSansBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

