/*media*/ 
@media(max-width: 1800px){
	.reviews-slider .prev-arrow{
		transform: translate(0, -50%);
	}
	.reviews-slider .next-arrow{
		transform: translate(0, -50%)
	}
	.reviews-slider .slick-arrow{
		width: 5.5em;
		height: 5.5em;
		svg{
			width: 50%;
		}
	}
	.reviews-slider__avatar{
		width: 18em;
		height: 18em;
	}
	.client-bg{
		height: 10em;
	}
}
@media(max-width: 1500px){
	html{
		font-size: .9vw;
	}
	.top-screen-img{
		height: 52em;
	}
	.service-img{
		height: 45em;
	}
}
/*1500*/ 

@media(max-width: 1366px){
	html{
		font-size: 1.1vw;
	}
	.menu li{
		font-size: 1em;
	}
	.features__content p{
		max-width: 70%;
	}
	.features__img{
		height: 14em;
		img{
			max-height: 100%;
		}
	}
	.footer__content{
		width: 78%;
	}
}
/*1366*/ 
@media(max-width: 990px){
	.features__content p{
		font-size: 1.1rem;
	}
	.btn-container{
		.btn{
			font-size: 14px;
		}
	}
	.reviews-slider .slick-arrow{
		display: none !important; 
	}
	.reviews-slider__text{
		font-size: 1.6rem;
		padding-left: 5em;
	}
	.reviews-slider__text::before{
		width: 4em;
		height: 4em;
	}
	.author-name{
		font-size: 15px;
		padding-left: 4.5em;
	}
	.form__body{
		flex-wrap: wrap;
	}
	.form__left, .form__right{
		width: 100%;
	}
	.form__left{
		margin-bottom: 40px;
	}
	.form input.btn{
		font-size: 16px;
	}
	.clients__list{
		justify-content: center;
	}
	.clients__list li{
		width: 16.666%;
	}
	.footer{
		.container{
			flex-direction: column;
			align-items: center;
		}
	}
	.footer__logo{
		width: 250px;
		margin-bottom: 30px;
		text-align: center;
	}
	.footer__content{
		width: 100%;
	}
	.footer__subtitle{
		font-size: 12px;
	}
	.address{
		font-size: 12px;
	}
}
/*990*/ 
@media(max-width: 768px){
	html{
		font-size: 1.3vw;
	}
	.desctop {
		display: none !important;
	}
	.btn{
		font-size: 15px;
		padding: 1em 2em;
	}
	.header__phones{
		a{
			font-size: 14px;
		}
	}
	.header{
		padding: 20px;
	}
	.top-screen-img{
		height: 39em;
	}
	.top-screen__title p{
		font-size: 1.7em;
	}
	.service__descr p{
		font-size: 1.3rem;
	}
	.features__list li{
		width: 50%;
	}
	.features__item{
		max-width: 250px;
		margin: 0 auto;
		&::before{
			height: 100%;
			width: 100%;
			top: 10em;
			background-position: 55% 0;
		}
	}
	.features__content h3{
		font-size: 1.6rem;
	}
	.features__content p{
		width: 80%;
		font-size: 1.2rem;
	}
	.clients__list{
		justify-content: center;
	}
	.clients__list li{
		width: 20%;
	}
	.footer__phone{
		font-size: 12px;
	}
	.footer__contact{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__phone{
		margin-bottom: 15px;
		width: 100%;
	}
}
/*768*/ 

@media(max-width: 568px){
	.features__list li{
		width: 100%;
	}
	.features__item{
		max-width: 350px;
		&::before{
			display: none;
		}
	}
	.features__content h3{
		font-size: 20px;
	}
	.features__content p{
		font-size: 16px;
		max-width: none;
		width: 100%;
	}
	.features__img{
		height: 150px;
	}
	.features .mark,
	.features::before, .features::after{
		display: none;
	}
	.features{
		margin-top: 0;
		padding: 50px 0;
	}
	.reviews-slider__content{
		flex-direction: column-reverse;
		padding: 0 20px;
	}
	.reviews-slider__text{
		font-size: 14px;
		padding-left: 0;
		&::before{
			display: none;
		}
	}
	.author-name{
		padding-left: 0;
		text-align: center;
	}
	.reviews-slider .slick-dots{
		bottom: -30px;
	}
	.reviews-slider__descr .social{
		padding-left: 0;
		justify-content: center;
	}
	.reviews .btn-container{
		padding-left: 0;
		text-align: center;
	}
	.form__left__descr{
		font-size: 2rem;
	}
	.form__left__title{
		font-size: 6rem;
	}
	.submit-container{
		margin-top: 40px;
	}
	.clients__list{
		justify-content: center;
	}
	.clients__list li{
		width: 25%;
	}
	.clients__title{
		font-size: 6rem;
	}
	.footer__row{
		flex-direction: column;
	}
	.footer__row__left,
	.footer__row__right{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.callback{
		font-size: 14px;
	}
	.footer{
		.social{
			justify-content: center;
		}
	}
}
/*568*/ 

@media(max-width: 480px){
	.header-nav{
		.btn{
			font-size: 13px;
			span{
				display: none;
			}
		}
	}

	.logo img{
		width: 50px;
	}
	.mobile-btn{
		display: block;
		margin-right: 30px;
	}
	.mobile-menu{
		display: block;
		
	}
	.menu{
		flex-direction: column;
		align-items: flex-start;
		margin-right: 0;
		margin-bottom: 40px;
		li{
			font-size: 16px;
			padding: 0;
			width: 100%;
			a{
				display: block;
				border-radius: 0;
				padding: 1em 2em;
				&:active{
					background-color: var(--pink);
					color: #fff;
				}
			}
		}
	}
	.header__phones{
		padding: 0 32px;
		a{
			display: block;
			font-size: 24px;
			margin-left: 0 !important;
			margin-bottom: 15px;
			text-decoration: none;
		}
	}
	.top-screen__title p{
		font-size: 2em;
		br{
			display: none;
		}
	}
	.title h2{
		font-size: 6.5rem;
	}
	.service-list li{
		width: 50%;
	}
	.service__img{
		margin-bottom: 15px;
	}
	.service__descr{
		h3{
			font-size: 2.7rem;
		}
		p{
			font-size: 1.8rem;
		}
	}
}
/*480*/ 

@media(max-width: 360px){
	.top-screen__title p{
		font-size: 2.4em;
	}
	.service-list li{
		width: 100%;
	}
	.service__img{
		height: 40em;
	}
	.service__descr{
		h3{
			font-size: 4rem;
		}
		p{
			font-size: 3rem;
		}
	}
}